.listContainer {
    height: 50vh;
    max-height: 1200px;
    overflow: auto;    
    padding: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-md;
}

.id {
    margin-right: $size-base;
}
