@forward 'index';
@import 'modern-normalize/modern-normalize.css';
@import './reset.css';

* {
    &:hover,
    &:active {
        transition: all 0.2s ease-in;
    }
}

body {
    font-size: $size-base;
    background-color: $color-black;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(135deg, #646cff, #9089fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media (max-width: 768px) {
        font-size: 2rem;
        text-align: center;
    }
}