@forward 'index';
@import 'modern-normalize/modern-normalize.css';
@import './reset.css';

* {
    &:hover,
    &:active {
        transition: all 0.2s ease-in;
    }
}

body {
    font-size: $size-base;
    background-color: $color-black;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}
