.pageTemplate {
    @include flex-center;
    position: relative;
    background-color: transparent;
    width: 100%;
    min-height: $viewport-height-full - 15vh;
    padding: $padding-section;

    color: $color-text-primary;
    font-size: $font-size-2xl;
}
