.pageTemplate {
    position: relative;
    @include flex-center;
    background-color: transparent;
    min-height: $viewport-height-full;
    padding: $padding-section;

    color: $color-text-primary;
    font-size: $font-size-2xl;
}

